body {
    font-family: Arial, sans-serif; /* Устанавливает шрифт для всего документа */
    background: linear-gradient(to bottom right, #00aaff, #00ffaa); /* Градиентный фон от голубого (#00aaff) к зеленому (#00ffaa) */
    margin: 0; /* Устанавливает отступы вокруг всего содержимого body */
    padding: 0; /* Устанавливает внутренние отступы вокруг всего содержимого body */
    display: flex; /* Устанавливает использование flexbox для компоновки элементов */
    flex-direction: column; /* Устанавливает направление основной оси flex-контейнера */
    align-items: center; /* Выравнивает элементы по центру вдоль поперечной оси */
    justify-content: center; /* Выравнивает элементы по центру вдоль главной оси */
    height: 100vh; /* Высота экрана */
}

h1 {
    text-align: center; /* Выравнивание текста заголовка по центру */
}

#story {
    font-weight: bold; /* Устанавливает жирное начертание шрифта */
    margin-bottom: 20px; /* Устанавливает отступ снизу */
    text-align: center; /* Выравнивание текста истории по центру */
}

button {
    background-color: darkgreen; /* Устанавливает цвет фона для кнопок */
    color: white; /* Устанавливает цвет текста кнопок */
    font-weight: bold; /* Устанавливает жирное начертание шрифта для текста кнопок */
    padding: 8px 16px; /* Устанавливает внутренние отступы кнопок */
    margin: 4px; /* Устанавливает внешние отступы кнопок */
    border: none; /* Убирает границы кнопок */
    border-radius: 4px; /* Устанавливает скругление углов кнопок */
    cursor: pointer; /* Устанавливает вид курсора при наведении на кнопку */
}

.option-buttons {
    text-align: center; /* Выравнивание кнопок опций по центру */
}

.option-buttons button {
    background-color: darkgreen; /* Устанавливает цвет фона для кнопок опций */
}

#startButton.hidden {
    display: none; /* Скрывает элемент с классом "hidden" */
}
